<section id="application-<%= @application.id %>">
<h1>Application</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Status: <%= @application.status %></p>
<p>Description: <%= @application.description %></p>
<p>Pets: <% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %></p>
</section>

<% if @application.status == "In Progress" %>
  <section id="add_pet-<%= @application.id %>">
  <%= "Add a Pet to this Application" %>
  <%= form_with url: "/applications/#{@application.id}?search=pet_name", method: :get, local: true do |f| %>
  <%= f.label :pet_name %>
  <%= f.text_field :pet_name %>
  <%= f.submit "Search" %>
  <% end %>

<% if @pets.present? %>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this Pet", "/pet_applications/new", method: :post, params: { :application_id => @application.id, :pet_id => pet.id } %>
  <% end %>
<% end %>
</section>
<% end %>

<% if @selected_pets.length > 0 && @application.description == "" %>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <p>Why I would be a good owner?</p>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit "Submit my application" %>
  <% end %>
<% end %>
