<h1>Pending Applications:</h1>
<p>Pets: <% @application.pet_applications.each do |pet_app| %>
  <%= pet_app.pet.name %>
  <% if pet_app.approved == "Pending" %>
    <%= button_to "Approve #{pet_app.pet.name}", "/admin/applications/#{pet_app.id}", method: :patch, params: { approved: "Approved"} %>
    <%= button_to "Deny #{pet_app.pet.name}", "/admin/applications/#{pet_app.id}", method: :patch, params: { approved: "Denied"} %>
  <% end %>
    <p>Approved Pets:
      <% if pet_app.approved == "Approved" %>
      <%= pet_app.pet.name %>
      <% end %> </p>
      <p>Denied Pets:
        <% if pet_app.approved == "Denied" %>
          <%= pet_app.pet.name %>
        <% end %>
      </p>
  <% end %>
</p>
